* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
header {
  display: block;
  width: 100%;
  height: 100px;
  color: white;
  background: #253665fb;
}
h1 {
  display: flex;
  justify-content: center;
  padding: 25px;
}